@import '~bootstrap/dist/css/bootstrap';

$body-background-color: #e0e7ef;

body {
    background: $body-background-color;
}

.Item {
    background: #8dc777;
}

.innerShadow {
   -moz-box-shadow:    inset 0 1px 2px #000;
   -webkit-box-shadow: inset 0 1px 2px #000;
   box-shadow:         inset 0 1px 2px #000;
}

.outerShadow {
  -moz-box-shadow:    2px 2px 0px 0px #ccc;
  -webkit-box-shadow: 2px 2px 0px 0px #ccc;
  box-shadow:         2px 2px 0px 0px #ccc;
}
